@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,500&display=swap');

*{
    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

body{

    width: 100%;

    background: white;

    text-decoration:none;

    position: relative;

    font-family: 'Open Sans', sans-serif;
}

*:focus{

    outline: none;
}

.navbar{

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;


    height: 9%;

    background: #F5F5F5;

    border-bottom: 1px solid whitesmoke;

    display: flex;

    justify-content: center;

    padding: 5px 0;

    z-index: 1;
}

.nav-wrapper{

    width: 70%;

    max-width: 1000px;

    height: 100%;

    display: flex;

    justify-content: space-between;

    align-items: center;
}

.brand-img{

    width: 20%;
    border: 1px transparent;
    border-radius: 20px;
    margin-top: 5px;
}

.search-box
{
    border-radius: 5px;

    border: 1px solid gray;

    justify-content: center;

    width: 400px;

    text-align: center;

    text-transform: uppercase;

    font-size: small;

    height: 25px;
}

.nav-items{

    height: 22px;

    position: relative;
}

.icon{

    height: 100%;

    cursor: pointer;

    margin: 0 10px;

    display: inline-block;
}

.user-profile{

    width: 22px;

    border-radius: 50%;
}
@media (max-width: 800px) {
    .sidebar {
        display: flex;
        justify-content: space-evenly;
    }
    .status-wrapper {
        margin-top: 20px;
    }
    #uploaderid {
        display: none !important;
    }
    
    
}

.page-link {
    position:static !important;

    margin-bottom: 30px !important;
}

@media (min-width: 801px) {
    #sidebar {
        position:fixed !important;
        height: 100%;
    }
    .container,main {
      margin-left: 250px !important;
    }
    .gallery-img {
        z-index: 1;
    }


}



/* Search */



#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: none; /* Hide by default */
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: none;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}
.search-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #5c5c5c, #f5f5f5);
    padding: 30px;
    border-radius: 15px;
    transition: background 0.3s ease;
    perspective: 1000px;
  }
  .search-bar input {
    position: relative;
    width: 230px;
    height: 40px;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background: linear-gradient(to right, #d9d9d9, #f8f8f8);
    font-size: 16px;
    color: #555;
    outline: none;
    transition: box-shadow 0.3s ease, background 0.3s ease, color 0.3s ease,
      border-color 0.3s ease, transform 0.3s ease;
    transform-style: preserve-3d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2) inset; /* Improved box-shadow for a realistic feel */
  }
  .search-bar [list]::-webkit-list-button,
  .search-bar [list]::-webkit-calendar-picker-indicator {
    display: none !important;
  }
  .searchbtn {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: 0.125em;
    --curve-size: 0.5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
    cursor: pointer;
      /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    /* Top-left */ 0% var(--curve-size),
    var(--curve-size) 0,
    /* top-right */ 100% 0,
    100% calc(100% - var(--curve-size)),
    /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
    /* bottom-right 2 */ 0 100%
  );
  transition: color 250ms;
  }

.searchbtn::after,
.searchbtn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.searchbtn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.searchbtn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.searchbtn:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.searchbtn:where(:hover, :focus) {
  color: #fff;
}


@media (min-width: 992px) {
  .container {
      max-width: 720px !important;
  }
}